@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono' sans-serif ;

}

#navbar{

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    /* box-shadow: 5px 5px 20px rgba(0,0,0,.1); */
    
    background: black;
    /* background: rgba(0, 0, 0, 0.1 ); */
    transition : .3s ease;
    backdrop-filter: blur(50px);
    
}
.navbar .navbar-brand{

    font-size: 30px;
    font-weight: 750;
    color: yellow !important;
    font-family: monospace;

}

#navbarSupportedContent a{

   
    backdrop-filter: blur(50px);
    border-bottom: 2px solid transparent;
    animation-delay: 2s;
    animation-direction: alternate;
    color: whitesmoke;

}
#navbarSupportedContent a:hover{

    border-bottom: 2px solid yellow ;
}

#navbarSupportedContent button{

    /* color: blanchedalmond; */
    background: rgb(158, 152, 67);
    border-radius: 30px;
    /* width: .5rem; */
    
}
#btn{

  text-decoration: none;
    color: black;
   
}

#navbarSupportedContent button:hover{

    background: black;
}
section{
    width: 100% ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home
{
    background: url("https://images.unsplash.com/photo-1574365569389-a10d488ca3fb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    
}
#home h1{

    font-size: 100px;
    color:whitesmoke;
    letter-spacing: 3px;
    font-family: monospace;
    text-shadow:  0px 1px 0px #fc4444,

    0px 2px 0px rgb(190, 190, 54),
    0px 3px 0px rgb(124, 7, 219),
    0px 4px 0px rgb(250, 250, 0),
    0px 5px 0px rgb(190, 190, 54),
    0px 6px 0px rgb(190, 190, 54),
    0px 2px 0px rgb(190, 190, 54);

    padding-top: 100px;
    margin-left: 20px;


  

}
#home p{

    font-size: 30px;
    color:#1A1E3F;
    /* text-shadow: 0px 2px 0px white,
    0px 2px 0px rgb(250, 250, 250),
    
    0px 2px 0px rgb(255, 255, 255),
    0px 2px 0px rgb(255, 255, 255),
    0px 2px 0px rgb(255, 255, 255),
    0px 2px 0px rgb(255, 255, 255); */
  
    font-weight: 600;
   
    


}
.btnsup{

    background: cadetblue;
}

#about{

    
    background:url("aboutus.jpg") no-repeat;
    background-size: cover;

    box-shadow: 15px 20px 20px rgba(0,0,0,.3);


}

#para{

    color: black;
    text-align: justify;
    
    
}
#aboutus{

    background: url();
}

.btn1{

    height: 35px;
    width: 120px;
    background-color:black;
    color: #ffffff;
    border: 0px;
    text-decoration: none;
   
    
}
.btn2{

    height: 35px;
    width: 120px;
    background-color:black;
    color: #ffffff;
    border: 0px;
    text-decoration: none;
}
.btn3
{
    height: 35px;
    width: 120px;
    background-color:black;
    color: #ffffff;
    border: 0px;
    text-decoration: none;
}
#product{
    background:url("three.jpg");
    background-size:cover;
    /* opacity: 0.5%; */
}
.card{
    width:350px;
    height: 450px;
    background: whitesmoke !important;
   
    align-items: center;
    overflow: hidden;
    margin: 20px;
}

.card:hover{

    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3);
    border-radius: 20px !important;
    background:#d6cadd !important;
    
}
#product{
    background:url("three.jpg");
    background-size: cover;
}



.carousel-indicators button.thumbnail {
    width: 100px;
    border-radius: 30px;
    
  }
  .carousel-indicators button.thumbnail:not(.active) {
    opacity: 0.7;
  }
  .carousel-indicators {
    position: static;
    
  }
  @media screen and (min-width: 992px) {
    .carousel {
      max-width: 70%;
      margin: 0 auto;
    }
  }

#most
  {
    /* background: url("bgslidemain.jpg") no-repeat;
    background-size: cover; */
    align-items: center;
    background:#f9e7bd;
    /* border-radius: 20px; */
  }

  #home{

    border:gray;
    /* border-style: dashed; */
    /* border-radius: 20px; */
    
  }

  #contactus{

    width: 500px;

  }

  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }
/* contact */
#contact{

    background: whitesmoke;
}
  form{
    display: flex;
    flex-direction: column;
  }

  #contact input{

    margin: 10px 0px;
  }
  #contact text{

    margin: 10px 0px;
  }
  #contact textarea{

    margin: 10px 1px;
  }
 #contact img{

    width: 500px;
    border-radius: 20px;
    margin-top: 20px;
  }
 #contact button{

    margin: 10px 0px;
  }
  
  /* button */
  .button-13 {
    background-color:yellow;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    /* font-family: "Roboto",sans-serif; */
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    align-items: center;
    
  }
  
  .button-13:hover {
    background-color:whitesmoke;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }

  /* footer */

footer{

  width: 100%;
  height: 30%;
  background:black;
  color: whitesmoke;
  padding-left: 50px;
  opacity: 1.0;
}

footer i{

  font-size: 40px;
  color: yellow;
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin-top: 20px;
  text-align: center;
  align-items: center;

}



#head1{

  color: yellow;
  margin-top:120px;
  font-family:monospace ;
  font-weight: 750;


}
.inline{

  text-decoration: none;
  color: yellow;
  margin-bottom: 20px;
  font-weight:700;
}

#social{

  color: yellow;
}

.in0{

  text-decoration: none;
  color: whitesmoke;
}
.outline{

  text-decoration: none;
  color: yellow;
  padding-top: 20px;
  font-weight:700 ;
}
.out{

  text-decoration: none;
  color: whitesmoke;
  padding-top: 20px;
}

.contact1{

  text-decoration: none;
  color: yellow;
  margin-bottom: 20px;
}
.contactzero{

  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  
 
}

.listclass{

  font-size: 20px;
  margin-top: 20px;
}
.li{

  font-size: 20px;
}
.li0{

  margin-top: 10px;
 
}
.vl {
  border-left: 1px solid white;
  height: 110px;
}
.v2{

  border-left: 1px solid white;
width: 200px;
}
.in{

  font-size: 15px;
  text-decoration: none;
  color: whitesmoke;
}

.out0{

  font-size: 15px;
  text-decoration: none;
  color: whitesmoke;

}